<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Microblog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="topbar">
        Microblog:
        <a href="/">Home</a>
        <a href="/login">Login</a>
        <a href="/cadastro">Cadastro</a>
        <a href="/logout">Logout</a>
    </div>
    <hr>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
            <hr>
        {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body>
</html>